<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>POSTOFFICE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world! My Post Office</h1>
        <p></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% block content %}
        {% endblock %}
      </div>
    </div>  
  </body>
 </html>  
   